<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <%- include('./particles/PageHeader.ejs', {title: title}) %>

    <main class="center-column">
      <div class="page-padding div-bottom-gap center-column">
        <%- include('./particles/ImgTextDiv.ejs', { imgAlign: "left" , title: "We know you'll love Thrope Park!" ,
          bodyText: "head back to your own personal cabin to relax and recharge after a day packed full of thrills! Our bite-sized rooms have everything you need for a perfect night's rest to refuel including complimentary wi-fi, tea and coffee making facilities, interactive TV, mood lighting, en-suite with rain shower and super comfy beds!"
          , imgPath: "./images/parkimages/areas.jpg" , imgAlt: "areas" }) %>

          <h2 class="div-title">Areas and Featured Rides</h2>

          <div id="areas-wrapper" class="center-wrap">
          </div>
      </div>

      <%- include('./particles/Reviews.ejs') %>
    </main>

    <script src="./requester.js"></script>

    <script>
      function showArea(area) {
        show(`
          <img src="./images/rides/${area.image_name}" alt="${area.area_name}">
            <div class="card-contents center-column">
              <h3 class="card-title">${area.area_name}</h3>
                <p>${area.area_description}</p>
                <a class="dark-button" href="/rides">Go To Rides</a>
            </div>
          `, document.getElementById("areas-wrapper"), ["card", "center-column"]);
      }

      function showNoAreasYet() {
        show(`
          <p>No areas yet :(</p>
        `, document.getElementById("areas-wrapper"), ["card", "center-column"]);
      }

      function errorGettingArea(error) {
        show(`
          <p>Failed to get areas. ${error}</p>
        `, document.getElementById("areas-wrapper"), ["card", "center-column"]);
      }

      getFromDB("select * from areas", showArea, showNoAreasYet, errorGettingArea);

    </script>

</body>

</html>