<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css">
  <title><%= title %></title>
</head>
<body>
  <%- include('./particles/PageHeader.ejs', {title: title}) %>
  <main class="center-column">
    <div class="page-padding center-column">
      <%- include('./particles/Contactus.ejs', {title: "Get In Touch", messageLabelText: "Message"}) %>

      <%- include('./particles/LeaveFaq.ejs', {title: "Ask A Question (FAQs)", messageLabelText: "Question"}) %>

    </div>
  </main>
</body>
</html>