<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <%- include('./particles/PageHeader.ejs', {title: title}) %>
    <main class="center-column">
      <div class="page-padding center-column">
        <div id="upcoming-events-wrapper">
          <h2 class="div-title">Upcoming Events</h2>

          <div id="ev-wrapper" class="events div-top-gap">

          </div>
        </div>

        <div id="concluded-events-wrapper" class="div-top-gap">
          <h2 class="div-title">Concluded Events</h2>

          <div id="ev-wrapper-concluded" class="events div-top-gap">

          </div>
        </div>

      </div>
    </main>

    <script src="./requester.js"></script>
    <script>
      function showEvents(event) {
        function showEventCategories(event_category) {
          show(`
            <p>${event_category.event_category_name}</p>
          `, document.getElementById(`event-tag-${event.event_id}`), ["tag"]);
        }


        show(`
          <div class="top">
            <div class="left-center-column name-date">
              <h2 class="card-title">${event.event_name}</h2>
              <p>${event.event_date}</p>
            </div>

            <div id="event-tag-${event.event_id}" class="center-row tags">
              <p>Category: </p>
            </div>
          </div>

          <div class="bottom">

            <p class="div-paragraph">${event.event_description}</p>

            <a class="dark-button" href="events/${event.event_name}">View</a>

          </div>
      `, document.getElementById("upcoming-events-wrapper"), ["event"]);

        getFromDB(`select * from event_categories where event_category_id = ${event.event_category_id}`, showEventCategories, showNoEvent, errorGettingEvents);
      }

      function showNoEvent() {
        show(`
          <p>No Events yet :(</p>
        `, document.getElementById("upcoming-events-wrapper"));
      }

      function errorGettingEvents(error) {
        show(`
          <p>Failed to get Events. ${error}</p>
        `, document.getElementById("upcoming-events-wrapper"));
      }

      getFromDB(`select * from events where julianday(event_date) >= julianday(Date('now'))`, showEvents, showNoEvent, errorGettingEvents);

      function showPastEvents(event) {
        function showEventCategories(event_category) {
          show(`
            <p>${event_category.event_category_name}</p>
          `, document.getElementById(`event-tag-${event.event_id}`), ["tag"]);
        }


        show(`
          <div class="top">
            <div class="left-center-column name-date">
              <h2 class="card-title">${event.event_name}</h2>
              <p>${event.event_date}</p>
            </div>

            <div id="event-tag-${event.event_id}" class="center-row tags">
              <p>Category: </p>
            </div>
          </div>

          <div class="bottom">

            <p class="div-paragraph">${event.event_description}</p>

            <a class="dark-button" href="events/${event.event_name}">View</a>

          </div>
      `, document.getElementById("concluded-events-wrapper"), ["event"]);

        getFromDB(`select * from event_categories where event_category_id = ${event.event_category_id}`, showEventCategories, showNoEvent, errorGettingEvents);
      }

      function showNoPastEvent() {
        show(`
          <p>No Events yet :(</p>
        `, document.getElementById("concluded-events-wrapper"));
      }

      function errorGettingPastEvents(error) {
        show(`
          <p>Failed to get Events. ${error}</p>
        `, document.getElementById("concluded-events-wrapper"));
      }

      getFromDB(`select * from events where julianday(event_date) < julianday(Date('now'))`, showPastEvents, showNoPastEvent, errorGettingPastEvents);
    </script>

</body>

</html>