<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <header id="home-header">
    <%- include('./particles/NavBar.ejs') %>
    <h1 id="home-title">Welcome to<br/><span>Thrope Park</span></h1>
    <a id="home-action-btn" href="/">Start Exploring</a>
  </header>

  <main id="home-main">
    <div class="review-carosel">
      <p>Some review</p>
    </div>


  </main>
</body>

<script>
  function happy(){
    return "hello";
  }
</script>
</html>