<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Areas</a></li>
        <li><a href="/">Rides</a></li>
        <li><a href="/">Contact Us</a></li>
        <li><a href="/">FAQs</a></li>
      </ul>
    </nav>
    <h1>Welcome to Thrope Park</h1>
  </header>
</body>
</html>