<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <%- include('./particles/PageHeader.ejs', {title: title}) %>
    <main class="center-column">
      <div id="ride-area-wrapper" class="page-padding div-bottom-gap center-column">
        <%- include('./particles/ImgTextDiv.ejs', { imgAlign: "left" , title: "Ready for lift off!" ,
          bodyText: "head back to your own personal cabin to relax and recharge after a day packed full of thrills! Our bite-sized rooms have everything you need for a perfect night's rest to refuel including complimentary wi-fi, tea and coffee making facilities, interactive TV, mood lighting, en-suite with rain shower and super comfy beds!"
          , imgPath: "./images/parkimages/rides.jpg" , imgAlt: "areas" }) %>

      </div>

      <%- include('./particles/Reviews.ejs') %>
    </main>

    <script src="./requester.js"></script>
    <script>
      function showArea(area) {
        function showRide(ride) {
          show(`
            <img src="./images/rides/${ride.image_name}" alt="${ride.ride_name}">
            <div class="card-contents center-column">
              <h3 class="card-title">${ride.ride_name}</h3>
                <p>${ride.ride_description}</p>
            </div>
          `, document.getElementById(`${area.area_name}-wrapper`), ["card", "center-column"]);
        }

        function showNoRidesYet() {
          show(`
            <p>No rides in this area yet :(</p>
          `, document.getElementById(`${area.area_name}-wrapper`), ["card", "center-column"]);
        }

        function errorGettingRides(error) {
          show(`
            <p>Failed to get rides. ${error}</p>
          `, document.getElementById(`${area.area_name}-wrapper`), ["card", "center-column"]);
        }

        show(`
          <h2 class="div-title">${area.area_name}</h2>
          <p class="div-paragraph">${area.area_description}</p>
          <div id="${area.area_name}-wrapper" class="center-wrap card-wrap">

          </div>
          `, document.getElementById("ride-area-wrapper"), ["div-top-gap"]);

        getFromDB(`SELECT * FROM rides WHERE area_id=${area.area_id}`, showRide, showNoRidesYet, errorGettingRides);
      }

      function showNoAreasYet() {
        show(`
          <p>No areas yet :(</p>
        `, document.getElementsByClassName("page-padding")[0], ["card", "center-column"]);
      }

      function errorGettingArea(error) {
        show(`
          <p>Failed to get areas. ${error}</p>
        `, document.getElementsByClassName("page-padding")[0], ["card", "center-column"]);
      }

      getFromDB("SELECT area_id, area_name, area_description FROM areas", showArea, showNoAreasYet, errorGettingArea);

    </script>

</body>

</html>