<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">Areas</a></li>
    <li><a href="/">Rides</a></li>
    <li><a href="/">Contact Us</a></li>
    <li><a href="/">FAQs</a></li>
    <li><a href="/">More</a></li>
  </ul>
</nav>