<nav id="home-nav" class="left-center-row">
  <a href="/">Home</a>
  <a href="/">Areas</a>
  <a href="/">Rides</a>
  <a href="/">Contact Us</a>
  <a href="/">FAQs</a>
  <a href="/">More</a>
</nav>

<button id="mobile-nav-bar-btn" class="abs image-button" onclick="toggleNavbar()">
  <img src="./images/UI/menu.png" alt="menu hamburger">
</button>