<header id="small-page-header">
  <div id="page-header-img" class="normal-page-header-img">
    <div id="page-header-img-darken"></div>
  </div>

  <div class="header-content page-padding">   
    <%- include('./NestedNavbar.ejs') %>
    <div class="left m-center-column">
      <h1 id="page-title"><%= title %></h1>
    </div>
  </div>
</header>